@import "../common";

.field {
  margin: 1em 0;

  &.deprecated {
    color: red;
  }

  .definition {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 1.1em;

    .name {
      font-weight: bold;
    }

    .description {
      @include description;
    }
  }

  .deprecation-reason {
    flex: 1;
    color: red;
  }
}
