@import "../../../common";
@import "../common";

.field {
  margin: 0.4em 0;

  .definition {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    .name {
      margin-right: 0.3em;
      font-size: 1.3em;
      font-weight: bold;
    }

    .description {
      margin: 0.4em 0;
      @include description;
    }
  }

  .deprecation-reason {
    opacity: 0.7;
    color: $red;
  }
}
