@import "../../../common";
@import "../common";

.type {
  margin: 2em 1.5em;
  padding: 1.2em 1.4em;

  $hue-spread: 5;
  $base: adjust-color($primary, $lightness: -45%, $saturation: -75%);
  $from: adjust-color($base, $hue: $hue-spread);
  $to: adjust-color($base, $hue: -$hue-spread);
  @include gradient($from, $to);

  @include panel;

  .name {
    color: $secondary;
    font-size: 2em;
    font-weight: bold;
  }

  .description {
    @include description;

    margin-top: 0.1em;
    margin-bottom: 1em;

    font-size: 1.2em;
  }

  .fields {
    margin-top: 0.7em;

    &.deprecations {
      @include panel;

      margin-top: 0.8em;
      padding: 1em 1.3em;

      $gradient-hue-spread: 15;
      $gradient-alpha-adjust: -0.73;

      @include gradient(
        adjust-color($red, $hue: $hue-spread, $alpha: $gradient-alpha-adjust),
        adjust-color($red, $hue: -$hue-spread, $alpha: $gradient-alpha-adjust)
      );

      > h1 {
        font-size: 1.2em;
        color: $red;
      }
    }
  }
}
