@import "../../../common";
@import "../common";

.type {
  margin: 2em 1.5em;
  padding: 1.2em 1.4em;

  $hue-spread: 5;
  $base: adjust-color($primary, $lightness: -45%, $saturation: -75%);
  $from: adjust-color($base, $hue: $hue-spread);
  $to: adjust-color($base, $hue: -$hue-spread);
  @include gradient($from, $to);

  box-shadow: 0 0.15em 0.1em transparentize(black, 0.87);
  border-radius: 0.3em;

  .definition {
    color: transparentize(lighten($primary, 30%), 0.5);
    font-size: 1.3em;
    font-weight: 300;

    .name {
      display: inline-block;
      margin-right: $word-spacing;

      font-size: 1.3em;
      font-weight: bold;
      color: $secondary;
    }

    .implements {
      .type-ref {
        margin: 0 0 0 $word-spacing;
      }
    }
  }

  .description {
    @include description;

    margin-top: 0.1em;
    font-size: 1.2em;
  }

  .fields {
    margin-top: 0.8em;
  }
}
