@import "../../../common";
@import "../common";

.type {
  margin: 2em 1.5em;
  padding: 1.2em 1.4em;

  $hue-spread: 5;
  $base: adjust-color($primary, $lightness: -45%, $saturation: -75%);
  $from: adjust-color($base, $hue: $hue-spread);
  $to: adjust-color($base, $hue: -$hue-spread);
  @include gradient($from, $to);

  @include panel;

  .name-and-description {
    @include center-and-wrap-children;

    margin-bottom: 1em;

    color: $secondary;
    font-size: 1.3em;
    font-weight: bold;

    .name {
      color: $secondary;
      font-size: 1.4em;
      font-weight: bold;
    }
  }
}
