@import "../../common";
@import "common";

.Document {
}

.Document {
}

.SchemaDefinition {
}
.OperationTypeDefinition {
}

.StringValue {
}

.ScalarTypeDefinition {
}

@mixin type {
  @include panel;

  margin: 2em 1.5em;
  padding: 1.2em 1.4em;

  $hue-spread: 5;
  $base: adjust-color($primary, $lightness: -45%, $saturation: -75%);
  $from: adjust-color($base, $hue: $hue-spread);
  $to: adjust-color($base, $hue: -$hue-spread);
  @include gradient($from, $to);
}

.ObjectTypeDefinition {
  @include type;
}
.FieldDefinition {
}

.InterfaceTypeDefinition {
  @include type;
}

.UnionTypeDefinition {
  @include type;
}

.EnumTypeDefinition {
  @include type;
}
.EnumValueDefinition {
}

.InputObjectTypeDefinition {
  @include type;
}
.InputValueDefinition {
}

@mixin type-ref {
}

.Name {
  font-style: italic;
}

// TODO

.Fields {
  div > * {
    display: inline-block;

    margin-right: 0.4em;
    &:last-of-type {
      margin-right: 0;
    }
  }
}
