@import "../../../common";
@import "../common";

.type-ref {
  margin-right: 0.3em;

  font-weight: 300;
  color: $syntax-color;

  span {
    margin: 0 0.5ch;
  }

  strong {
    font-style: italic;
  }

  .name {
    font-weight: bold;
  }

  span.name {
    color: $secondary;
  }
}
