@import "../../common";

.document {
  display: flex;
  flex-flow: row wrap;
}

.schema-definition {
  width: 100%;
}

.type-definition {
  @include panel;

  margin: 2em 1.5em;
  padding: 1.2em 1.4em;

  background: adjust-color($primary, $lightness: 38%, $saturation: -70%);

  .type-definition-header {
    width: 100%;

    .type-definition-name {
      font-size: 1.5em;
      font-weight: bold;
      color: $secondary;

      * {
        display: inline-block;
      }

      .syntax {
        margin-right: 0.3em;
        font-weight: 300;
      }
    }

    .type-definition-description {
      font-size: 1.2em;
    }
  }
}

.object-type-definition,
.interface-type-definition,
.enum-type-definition,
.input-object-type-definition {
  .type-definition-body {
    margin: 0.5em 0 0.2em 0;
  }
}

.field-definition,
.input-value-definition,
.enum-value-definition {
  margin: 1em 0;

  * {
    display: inline-block;
  }

  .field-definition-name,
  .input-value-definition-name,
  .enum-value-definition-name {
    font-size: 1.2em;
  }

  .enum-value-definition-name {
    font-weight: 1000;
  }

  .field-definition-type-ref,
  .input-value-definition-type-ref {
    color: $secondary;
  }

  .description {
    display: block;
    width: 100%;
  }
}

.named-type-ref {
  a {
    border-bottom: solid 0.1em transparentize($secondary, 0.6);

    color: $secondary;
    text-decoration: none;
  }

  .name {
    font-weight: 600;
  }
}

$type-ref-padding: 0.3em;
$secondary-dark: adjust-color($secondary, $lightness: -55%, $saturation: -55%);

.named-type-ref,
.list-type-ref {
  padding: $type-ref-padding 0;
}

.list-type-ref {
  padding-right: $type-ref-padding;

  & > .syntax {
    margin-right: 0.3em;

    opacity: 0.8;

    font-weight: 300;
    font-style: italic;
  }
}

.type-definition-body,
.non-null-type-ref {
  padding: 0;
}

.description {
  font-weight: light;
  opacity: 0.5;
}
