$primary: hsl(234, 85%, 63%);
$secondary: hsl(209, 88%, 68%);

html,
body {
  background: desaturate(darken($primary, 50%), 65%);
  color: white;
  font-weight: 300;
}

a {
  color: $secondary;
  &:hover {
    color: lighten($secondary, 5%);
  }
  &:active {
    color: lighten($secondary, 3%);
  }
}

#app {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.schema {
  $word-spacing: 0.6ch;

  padding: 1em;

  > .type {
    margin: 1em;
    padding: 1em;

    background: desaturate(darken($primary, 45%), 65%);

    > .definition {
      font-size: 2em;
      font-weight: 300;

      .name {
        display: inline-block;
        margin-right: $word-spacing;
        font-weight: bold;
      }

      > .name {
        color: white;
      }

      > .implements {
        .name {
          margin: 0 0 0 $word-spacing;
        }
      }
    }

    > .description {
      margin-top: 0.3em;
      opacity: 0.4;
      font-size: 1.5em;
    }

    > .fields {
      margin-top: 1.7em;

      > .field {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;

        margin: 1em 0;

        > .definition {
          margin-right: 0.5em;

          font-size: 1.2em;
          font-weight: bold;

          > .name {
            margin-right: $word-spacing;
          }

          .type-ref {
            display: inline-block;
            margin: 0 ($word-spacing / 2);
            color: $secondary;
          }
        }

        > .description {
          opacity: 0.3;
        }
      }
    }
  }
}
